
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>


</head>

<body>

    <div id="admin"></div>


        <script src="{{ url_for('static', filename='react/react.js') }}"></script>
        <script src="{{ url_for('static', filename='react/react-dom.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='components/Footer/footer.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='components/TopMenu/topmenu.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='views/Admin/admin.js') }}"></script>


</body>



