
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.button')
                    .popup({
                        inline: true,
                        position: 'bottom left',
                        on: 'click'
                    });

            $('.menu .item').tab();
            $('.ui.dropdown').dropdown();
        });
    </script>

</head>

<body>

    <div id="topmenu"></div>

    <div class="ui container" style="margin-top: 3em; min-height: 800px;">
        <div class="ui blue secondary pointing compact menu grid">
            <a class="item active" data-tab="first">Announcements</a>
            <a class="item" data-tab="second">Program Database</a>
            <a class="item" data-tab="third">Student Report</a>
            <a class="item" data-tab="fourth">Plagiarism Report</a>
            <a class="item" data-tab="fifth">Manage Handouts</a>
            <a class="item" data-tab="sixth">Statistics</a>
        </div>

        <div class="ui active tab padded basic segment" data-tab="first">
            <div id="announcementsubmit"></div>
        </div>


        <div class="ui tab padded basic segment" data-tab="second">
            <div class="ui secondary compact menu">
                <div class="blue item" data-tab="sub0-second">Programs</div>
                <div class="blue item" data-tab="sub1-second">Tests</div>
            </div>
            <div class="ui active tab padded basic segment" data-tab="sub0-first">
                <i>(Select one of the above options.)</i>
            </div>
            <div class="ui tab padded basic segment" data-tab="sub0-second">
                <div id="programtable"></div>
            </div>
        </div>

        <div class="ui tab padded basic segment" data-tab="third">
            <div id="getstudentstatus"></div>
        </div>

        <div class="ui tab padded basic segment" data-tab="fourth">
            To be done later;
        </div>

        <div class="ui tab padded basic segment" data-tab="fifth">
            <h4 class="ui blue header">Handouts List</h4>
            <div id="handouts"></div>
            <div class="ui divider"></div>
            <h4 class="ui blue header">Add handouts</h4>
            <form class="ui form" method="post" encType="multipart/form-data" action="/dbm/12IS35/handouts">
                <div class="field">
                    <label>Name</label>
                    <input type="text" class="ui text" name="name"/>
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea name="desc"></textarea>
                </div>
                <div class="field">
                    <input type="file" name="file"/>
                </div>
                <button class="ui blue button">Post the handout</button>
            </form>
        </div>

        <div class="ui tab padded basic segment" data-tab="sixth">
            <div class="ui blue secondary pointing compact menu">
                <div class="item" data-tab="sub-second">Attendance</div>
                <div class="item" data-tab="sub-third">Submissions</div>
            </div>
            <div class="ui active tab padded basic segment" data-tab="sub-first">
                <i>Select one of the above options</i>
            </div>
            <div class="ui tab padded basic segment" data-tab="sub-second">
                second
            </div>
            <div class="ui tab padded basic segment" data-tab="sub-third">
                third
            </div>

        </div>
    </div>

    <div id="footer"></div>


    <script src="{{ url_for('static', filename='react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='components/Footer/footer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/StudentDashboard/studentdashboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/TopMenu/topmenu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/AnnouncementSubmit/announcementsubmit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/ProgramTable/programtable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/Handouts/handouts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/StudentStatus/studentstatus.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='components/GetStudentStatus/getstudentstatus.js') }}"></script>


    <script>
        ReactDOM.render(React.createElement(TopMenu, {usn: "{{usn}}", coursecode: "{{coursecode}}" }), document.getElementById('topmenu'));
        ReactDOM.render(React.createElement(AnnouncementSubmit, null), document.getElementById('announcementsubmit'));
        ReactDOM.render(React.createElement(Handouts, null), document.getElementById('handouts'));
        ReactDOM.render(React.createElement(Footer, null), document.getElementById('footer'));
        ReactDOM.render(React.createElement(ProgramTable, null), document.getElementById('programtable'));
        ReactDOM.render(React.createElement(GetStudentStatus, null), document.getElementById('getstudentstatus'));

    </script>

</body>



